a:link{
    color:green;
    background-color: transparent;
    text-decoration: none;
}
a:visited{
color:pink;
background-color: transparent;
text-decoration: none;

}
a:hover{
color:red;
background-color:transparent;
text-decoration: underline;
}
a:active{
    color: violet;
    background-color: transparent;
    text-decoration: underline;
}
b:link, b:visited{
    background-color: #f44336;
    color: red;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
b:hover, b:active{
    background-color: red;
}