table{
    text-align: center;
    font-family: arial;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 5px;
}
td, th{
    text-align: center;
    border: 1px solid;
    padding: 8px;

}
tr:nth-child(even){
    background-color: aqua;
}
table,th,td{
    border: 1px solid red;
}
th,td{
    padding: 15px;
}
table#do tr:nth-child(odd){
    width: 100px;
    background-color:green;
}
table#do tr:nth-child(even){
    width: 100px;
    background-color:red;
}